.product {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 10px;
    position: relative;
}

.product img {
    height: 286px;
    width: 286px;
    margin: 7px;
    border-radius: 10px;
}

.product-info {
    margin: 14px;
}

.product-name {
    font-size: 21px;
    color: #0E161A;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 26px;
}

.product p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-cart {
    background-color: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0 0 10px 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.btn-cart:hover {
    background-color: orange;
}